body {
    font-family: 'Georgia', serif;
    background-color: #f9f3e9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #b39c6a;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #b39c6a;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: #b39c6a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: #a88b5b;
    transform: scale(1.05);
}

.answer {
    margin-left: 20px;
    font-style: italic;
    display: none; /* Se mantiene oculto inicialmente */
}
